header{
    display: flex;
    justify-content: space-between;
    font-family: "Fira Code", Arial, Helvetica, sans-serif;
    background-color: #9b31ff;
    border-bottom: 10px solid #482a72;
    padding: 10px 20px;
}
#logo{
    display: flex;
    align-items: center;
    font-family: "Press Start 2P", sans-serif;
    color: #fc1f69;
    text-shadow: 2px 2px 0 #482a72;
}
nav{
    text-align: right;
}
a{
    display: inline-flex;
    align-items: center;
    color: white;
    font-size: 20px;
    font-weight: 500;
    
    text-decoration: none;
    margin-right: 30px;
}
a::before{
    content:"";
    background-color: #fc1f69;
    width: 10px;
    height: 10px;
    margin-right: 10px;
    box-shadow: 2px 2px 0 #482a72;
   
}

.button{
    display: inline-block;
    height: 60px;
    line-height: 60px;
    background-color: #ff2e74;
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: 5px 5px 0 #482a72;
    margin: 0px;
    transition: transform 150ms ease-in-out, background-color 100ms ease-in-out;
}

.button:hover{
    transform: scale(1.05);
    cursor: pointer;
}
.buttonTitulo:hover{
    transform: scale(1.05);
    cursor: pointer;
}
.button:active{
    background-color: rgb(128, 211, 3);
    transform: scale(1.0);
}
.buttonTitulo:active{
    background-color:rgb(128, 211, 3);
    transform: scale(1.0);
}
#buttonPai{
    display: inline-block;
    margin-top: 38px;
    margin-left: 181px;
    font-family: "Fira Code", sans-serif;
}
.buttonTitulo{
    display: inline-block;
    margin-right: 112px;
    height: 60px;
    line-height: 60px;
    background-color: #ff2e74;
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: 5px 5px 0 #482a72;
    transition: transform 150ms ease-in-out, background-color 100ms ease-in-out;
}


