.action{
    display: inline-flex;
    align-items: center;
    color: white;
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;
    margin-right: 30px;
}
.action::before{
    content:"";
    background-color: #fc1f69;
    width: 10px;
    height: 10px;
    margin-right: 10px;
    box-shadow: 2px 2px 0 #482a72;
   
}