#titulo{
    display: inline-block;
    font-family: "Press Start 2P", sans-serif;
    font-size: 40px;
    line-height: 40px;
    color: #fc1f69;
    text-shadow: 2px 2px 0 #482a72;
    margin-top: 33px;
    
}